body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.container {
    display: flex; 
    height: 100vh; 
}

.navbar {
    width: 18%;  
    padding-left: 20px;
    background-color: black;
    min-width: 150px;  
    max-width: 220px;      
}

.content {
    width: 85%;  
    padding-top: 70px;
    border-left: 1px solid black;
}

p{
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-size: 0.8rem;   
}

h1 {
    font-family: 'Syne', sans-serif;
    padding-left: 0px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2.1rem;
}

hr{
    margin: 0;
    width: 70%;
    border: none;
    border-top: 1px dashed rgb(153, 0, 255);
    height: 1px;
}

.nav-link {
    display: inline-block;
    margin: 0;
    color: white;
    text-decoration: none;
    font-weight: 300;
    transition: 0.5s;
    font-size: 14px;
    border-bottom-style: dotted;
    border-bottom-width: 0.2px;
}

.nav-link:hover {
    color: rgb(153, 0, 255);
    transition: 0.25s;
}

.section {
    display: none;

}

.section:target {
    display: block;
}

/* social links */

.discord-link {
    color: white;

}

.discord-link:hover {
    color: #7289da;
    text-decoration: none;
}

.bsky-link {
    color: white;
}

.bsky-link:hover {
    color: #1084FE;
    text-decoration: none;
}

.lastfm-link {
    color: white;
}

.lastfm-link:hover {
    color: #D1160F;
    text-decoration: none;
}

.boxd-link {
    color: white;
}

.boxd-link:hover {
    color: #3FBCF4;
    text-decoration: none;
}

.mail-link {
    color: rgba(255, 255, 255, 0.584);
}

.mail-link:hover {
    color: white;
    text-decoration: none;
}

/* projects */
.crazy {
    padding-right: 10px;
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 16/9;
}

/* blog */
.head{
    margin: 0;
    padding-top: 10px;
}
.date {
    color: rgba(255, 255, 255, 0.538);
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    .crazy {
        max-width: 100%; 
        height: auto;
    }
}
